# Archivos de impresión 3D
*.gcode
*.STL
*.obj

# Archivos temporales de SolidWorks
~$*.SLDPRT
~$*.SLDASM
~$*.SLDDRW

# Archivos de compilación de C/C++
*.o
*.elf
*.bin
*.hex
build/

# Si llegas a usar PlatformIO
.pio/

node_modules/
npm-debug.log

.env
*.pem
secrets.json

.vscode/
*.code-workspace